<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8;" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-XSS-Protection" value="0" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <clear />
                <!-- Remove this -->
                <!-- <rule name="Redirect - remove .html" enabled="true" stopProcessing="true">
                    <match url="(.*).html" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false" >
                        <add input="{URL}" pattern="^(.*)\/toc(.*)$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule> -->
                <rule name="Redirect for Indigo Design - remove .html" enabled="true" stopProcessing="true">
                    <match url="^((products\/indigo-design\/help)(\/)?(.*)).html$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{URL}" pattern="^(.*)\/toc(.*)$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Rewrite - remove .html" enabled="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html" logRewrittenUrl="true" />
                </rule>

                <rule name="Redirect for App Builder app-builder-overview" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/app-builder-overview" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/app-builder-overview" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder change-log" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/change-log" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/change-log" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder getting-started" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/getting-started" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/getting-started" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder indigo-design-app-builder-components" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/indigo-design-app-builder-components" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/indigo-design-app-builder-components" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder interactions" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/interactions" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/interactions" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder interface-overview" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/interface-overview" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/interface-overview" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder preview-code" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/preview-code" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/preview-code" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder single-page-apps-and-navigation" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/single-page-apps-and-navigation" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/single-page-apps-and-navigation" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder using-data-in-your-app" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/using-data-in-your-app" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/using-data-in-your-app" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder app-themes" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/app-themes/app-themes" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/app-themes/app-themes" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder flex-layouts" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/flex-layouts/flex-layouts" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/flex-layouts/flex-layouts" redirectType="Permanent" />
                </rule>
                <!-- Generate app -->
                <rule name="Redirect for App Builder generate-app-overview" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/generate-app/generate-app-overview" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/generate-app/generate-app-overview" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder run-application-locally" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/generate-app/run-application-locally" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/generate-app/run-application-locally" redirectType="Permanent" />
                </rule>
                <rule name="Redirect for App Builder upload-application-to-github" enabled="true" stopProcessing="true">
                    <match url="^(.*appbuilder)/generate-app/upload-application-to-github" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://www.infragistics.com/products/appbuilder/help/generate-app/upload-application-to-github" redirectType="Permanent" />
                </rule>
                <!-- <rule name="Rewrite for Indigo Design - assets" enabled="true">
                    <match url="^(products\/indigo-design\/help)(\/)?(.*)$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{URL}" pattern="^(.*)\/styles(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/images(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/fonts(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/toc(.*)$" />
                        <add input="{URL}" pattern="^(.*)\.md$" />
                        <add input="{URL}" pattern="^(.*)\.xml$" />
                    </conditions>
                    <action type="Rewrite" url="{R:3}" logRewrittenUrl="true" />
                </rule> -->
                <rule name="Rewrite for Indigo Design - assets" enabled="true">
                    <match url="^(products\/indigo-design\/help)(\/)?(.*)$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{URL}" pattern="^(.*)\/assets(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/bundles(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/i18n(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/images(.*)$" />
                        <add input="{URL}" pattern="^(.*)\/toc(.*)$" />
                        <add input="{URL}" pattern="^(.*)\.md$" />
                        <add input="{URL}" pattern="^(.*)\.xml$" />
                        <add input="{URL}" pattern="^(.*)\.json$" />
                    </conditions>
                    <action type="Rewrite" url="/indigo-docfx/{R:3}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
